/* .section-1{
    background-image: url('../assets/images/chota.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 380px;
    height: 830px;
    margin: 20px auto;
    
}
.section-2{
   
    background-image: url('../assets/images/WhatsApp_Image_2024-12-02_at_3.58.43_PM-removebg-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 420px;
    height: 1150px;
    margin: 20px auto;
    background-attachment: fixed;
   
} */