*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-color: palevioletred;
}

.container{
    max-width: 1500px;
    margin: 0 auto; 
}

.chess-box{
    margin: 50px auto;
    width: 600px;
    height: 600px;
    border: 15px inset gray;
}

.black{
    background-color: #033E3E;
    width: calc(100% - 87.5%);
    height: calc(100% - 87.5%);
    float: left;
    font-size: 55px;
    text-align: center;
    line-height: 80px;
}

.white{
    background-color: #D4A017;
    width: calc(100% - 87.5%);
    height: calc(100% - 87.5%);
    float: left;
    font-size: 55px;
    text-align: center;
    line-height: 80px;
}

.clear{
    clear: both;
}