*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    height: 500px;
    width: 1200px;
    margin: 80px auto;
}
section img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: 50%;
}