*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.cart-section{
    max-width: 1300px;
    height: 600px;
    margin: 40px auto;
   
}
.cart-section .cart{
    width: 300px;
    height: 500px;
    background-color: red;
    border-radius: 30px;
    float: left;
    margin: 20px 10px;
    transition: 0.9s;
    overflow: hidden;
}

.cart-section .cart img{
    width: 100%;
    height: 200px;
    border-radius: 30px 30px 0 0;
    transition: 0.9s;
    
}

.cart-section .cart p{
    text-align: justify;
    margin-top: 20px;
    margin-left: 5px;
}




.cart:first-child:hover{
    background-color: blue;
}
.cart:first-child:hover img{
    transform: translateX(200px);
}

.cart:nth-child(2):hover{
    background-color: plum;
}
.cart:nth-child(2):hover img{
    transform: translateY(200px);
}

.cart:nth-child(3):hover{
    background-color: royalblue;
}
.cart:nth-child(3):hover img{
    transform: translate(200px , 100px)
}

.cart:nth-child(4):hover{
    background-color: paleturquoise;
}
.cart:nth-child(4):hover img{
    transform: scaleX(0.5);
}

.cart:nth-child(5):hover{
    background-color: rgb(195, 13, 149);
}
.cart:nth-child(5):hover img{
    transform: scaleY(0.5);
}

.cart:nth-child(6):hover{
    background-color: rgb(96, 3, 86);
    color: whitesmoke;
}
.cart:nth-child(6):hover img{
    transform: scale(1.2);
}

.cart:nth-child(7):hover{
    background-color: rgb(9, 2, 55);
    color: whitesmoke;
}
.cart:nth-child(7):hover img{
    transform: skewX(20deg);
}

.cart:nth-child(8):hover{
    background-color: rgb(6, 55, 2);
    color: whitesmoke;
}
.cart:nth-child(8):hover img{
    transform: skewY(20deg);
}

.cart:nth-child(9):hover{
    background-color: navy;
    color: whitesmoke;
}
.cart:nth-child(9):hover img{
    transform: skew(20deg);
}

.cart:nth-child(10):hover{
    background-color: rgb(50, 219, 224);
    color: whitesmoke;
}
.cart:nth-child(10):hover img{
    transform: rotateX(120deg);
}

.cart:nth-child(11):hover{
    background-color: rgb(176, 5, 79);
    color: whitesmoke;
}
.cart:nth-child(11):hover img{
    transform: rotateY(120deg);
}

.cart:nth-child(12):hover{
    background-color: rgb(176, 5, 79);
    color: whitesmoke;
}
.cart:nth-child(12):hover img{
    transform: rotate(120deg);
}







